<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Muli&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styles.css">
    <title>main</title>
</head>
<body>
    <section class="main">
        <h2 class="main__title">¿What do you want to see today?</h2>
        <input class="input" type="text" placeholder="Buscar...">
    </section>
</body>
</html>