<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>login</title>
</head>
<body>
    <header>
        <img src="../../assets/netflix-logo-v1.png" alt="">
    </header>
    <section class="login">
        <section class="login__container">
            <h2>Log In</h2>
            <form class="login__container--form ">
                <input type="text" class="input" placeholder="Email">
                <input type="text" class="input" placeholder="Password">
                <button class="button">Log In</button>
                <div class="login_container--remember-me">
                    <label>
                        <input type="checkbox" name="" id="cbox1" value="checkbox"> Remember me
                    </label>
                    <a href="/">I forgot my password</a>
                </div>
            </form>
            <section class="login__container--social-media">
                <div><img src="../../assets/google-icon.png" alt="Google">login with Google</div>
                <div><img src="../../assets/twitter-icon.png" alt="Twitter">login with Twitter</div>
            </section>
            <p class="login__container--register">
                You do not have an account?
                <a href="/">Sign Up</a>
            </p>
        </section>
    </section>
    <footer class="footer">
        <a href="/">Terms of use.</a>
        <a href="/">Privacy statement</a>
        <a href="/">Help Center</a>
    </footer>
</body>
</html>